@model SteppingStone.Domain.Entities.Bank
@{
    ViewBag.Title = "Delete Bank";
}

<section class="page-header">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p class="lead">Are you sure you want to do this?</p>
    </div>
</section>

<section class="section-light">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="panel-danger panel">
                    <div class="panel-heading">
                        Delete Bank
                    </div>
                    <div class="panel-body">
                        By doing this you'll delete any payment records that have been provided for this Bank.
                    </div>
                    <div class="panel-item-group">
                        <div class="panel-item clearfix">
                            <div class="col-sm-4 panel-item-label">Bank</div>
                            <div class="col-sm-8">@Model.Name</div>
                        </div>
                        <div class="panel-item clearfix">
                            <div class="col-sm-4 panel-item-label">Bank Ac/No</div>
                            <div class="col-sm-8">@Model.AccountNo</div>
                        </div>
                        <div class="panel-item clearfix">
                            <div class="col-sm-4 panel-item-label">Payments</div>
                            <div class="col-sm-8">@Model.Payments.Sum(x => x.Amount).ToString("n0")/=</div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        @using (Html.BeginForm("Destroy", "Banks", new { BankId = Model.BankId })) {
                            @Html.AntiForgeryToken()
                            @Html.Bootstrap().SubmitButton().Text("Delete Bank").Style(ButtonStyle.Danger).AppendIcon("glyphicon glyphicon-remove")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Menu {
<li>@Html.Bootstrap().ActionLink("Close", "Show").AppendIcon("fa fa-window-close")</li>
}
@section BreadcrumbLight {
    @Html.Action("GetBreadcrumb", new { BankId = Model.BankId })
    <li class="active">Delete Bank</li>
}

