@model SteppingStone.WebUI.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";

    string fullName = ViewBag.FullName;
    string fullName_panel = @"<div class=""form-control-static"">" + ViewBag.FullName + "</div>";
    string userId = ViewContext.RouteData.Values["id"].ToString();
}

<section class="page-header" role="heading">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p class="lead">Set the user a Temporary Password</p>
    </div>
</section>
<div class="section-light">
@using (var f = Html.Bootstrap().Begin(new Form())) {
    <div class="container">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Email)
        <div class="row">
            <div class="col-md-5">
                <aside class="panel-summary">
                    <h3>User details</h3>
                    <dl class="dl-horizontal">
                        <dt>Full name</dt>
                        <dd>@fullName</dd>
                    </dl>
                </aside>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="form-light-bg">
                    <h3 class="form-heading">Change Password</h3>

                    <div class="alert alert-warning">
                        Password must contain at least one uppercase character and one number
                    </div>

                    @f.FormGroup().PasswordFor(m => m.Password).Placeholder("Enter new password")
                    @f.FormGroup().PasswordFor(m => m.ConfirmPassword).Placeholder("Confirm new password")

                    <div class="form-group form-group-submit">
                        @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Default).ButtonBlock().Text("Reset Password").AppendIcon("glyphicon glyphicon-thumbs-up")
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
}

@section Menu {
    <li>@Html.Bootstrap().ActionLink("Close", "Show").RouteValues(new { id = userId }).AppendIcon("fa fa-window-close")</li>
}
@section BreadcrumbLight {
    @Html.Action("GetBreadcrumb", new { displayId = userId })
    <li class="active">Reset Password</li>
}
