@model SteppingStone.Domain.Entities.Payment
@{
    ViewBag.Title = "Delete Payment";
}

<section class="page-header">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p class="lead">Are you sure you want to do this?</p>
    </div>
</section>

<section class="section-light">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="panel-danger panel">
                    <div class="panel-heading">
                        Delete Payment
                    </div>
                    <div class="panel-item-group">
                        <div class="panel-item clearfix">
                            <div class="col-sm-4 panel-item-label">Pupil's Name</div>
                            <div class="col-sm-8">@Model.Student.FullName</div>
                        </div>
                        <div class="panel-item clearfix">
                            <div class="col-sm-4 panel-item-label">Amount (Ugx)</div>
                            <div class="col-sm-8">@Model.GetAmount()</div>
                        </div>
                        <div class="panel-item clearfix">
                            <div class="col-sm-4 panel-item-label">Term</div>
                            <div class="col-sm-8">@Model.Term.GetTerm()</div>
                        </div>
                        <div class="panel-item clearfix">
                            <div class="col-sm-4 panel-item-label">Class</div>
                            <div class="col-sm-8">@Model.ClassLevel.GetClass()</div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        @using (Html.BeginForm("Destroy", "Payments", new { PaymentId = Model.PaymentId })) {
                            @Html.AntiForgeryToken()
                            @Html.Bootstrap().SubmitButton().Text("Delete Payment").Style(ButtonStyle.Danger).AppendIcon("glyphicon glyphicon-remove")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Menu {
<li>@Html.Bootstrap().ActionLink("Close", "Show").AppendIcon("fa fa-window-close")</li>
}
@section BreadcrumbLight {
    @Html.Action("GetBreadcrumb", new { PaymentId = Model.PaymentId })
    <li class="active">Delete Payment</li>
}

