@model SteppingStone.WebUI.Models.Expenses.SearchExpensesModel
@{ 
}

<div class="filters">
    @using (Html.BeginForm("Index", "Expenses")) {
 
    <div class="filter-panel">
        @Html.Bootstrap().TextBoxFor(m => m.Name).Placeholder().PrependIcon("glyphicon glyphicon-user")
    </div>
    <div class="filter-panel">
        @Html.Bootstrap().DropDownListFor(m => m.Category, Model.Categories().Select(x => new SelectListItem { Value = x.Key.ToString(), Text = x.Value })).OptionLabel("Select Category")
    </div>
    <div class="filter-panel">
        @Html.EditorFor(m => m.StartDate)
    </div>
    <div class="filter-panel">
        @Html.EditorFor(m => m.EndDate)
    </div>
    <div class="filter-panel" style="margin-left:0">
        @Html.Bootstrap().SubmitButton().Text("Filter").Class("btn-filter-submit")
    </div>

    }
</div>
