@model SteppingStone.Domain.Entities.Term
@{
    ViewBag.Title = Model.GetTerm();
    bool developer = PageData["isAdmin"];
}

<div class="page-header">
    <div class="container">
        <h1>@ViewBag.Title</h1>
    </div>
</div>
<section class="section-light">
    <div class="container">

        <ul class="nav nav-tabs" id="app-details">
            <li class="active"><a data-toggle="tab" href="#Term">Term Details</a></li>
            @*<li><a data-toggle="tab" href="#parents"><span class="label label-success">@Model.Parents.Count</span> Parent(s)</a></li>*@
            <li><a data-toggle="tab" href="#activities">Activities</a></li>
        </ul>
        <div class="tab-content">
            <div id="Term" class="tab-pane fade in active">
                <div class="tabs-content">
                    @Html.Partial("Partials/_Summary", Model)
                </div>
            </div>
            @*<div id="parents" class="tab-pane fade">
                <div class="tabs-content">
                   @Html.Partial("Partials/_Parents", Model)
                </div>
            </div>*@
            <div id="activities" class="tab-pane fade">
                <div class="tabs-content">
                    @Html.Action("GetActivities", new { TermId = Model.TermId })
                </div>
            </div>
        </div>
    </div>

</section>

@section Menu {
@if (!Model.Ended)
{
    <li>@Html.Bootstrap().ActionLink("Edit Term", "Edit").RouteValues(new { TermId = Model.TermId }).AppendIcon("fa fa-edit")</li>
}
@if (Model.TotalPay <= 0)
{
    <li>@Html.Bootstrap().ActionLink("Delete Term", "Delete").RouteValues(new { TermId = Model.TermId }).AppendIcon("fa fa-remove")</li>
}
<li>@Html.Bootstrap().ActionLink("Close", "Index").RouteName("Terms_Index").AppendIcon("fa fa-window-close")</li> 
}
@section BreadcrumbLight {
@Html.Action("GetBreadcrumb", new { TermId = Model.TermId, mainAsLink = false })
}

